/* Background */
:root {
  background: cadetblue; /* Fallback color for browsers that don't support background-attachment: fixed */
}

/* Body alignment */
html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Header with title */
header{
    display: flex;
    background-color: #AFC6C4;
    padding: 50px;
    margin-top: 2px;
}

#main-title{
    margin: 0 auto;
}

/* Profile picture */
#profile-picture-card{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#profile-picture-card img{
    margin-top: 12px;
}
/* Profile cards */
.card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
    border: 1px solid gray;
}

/* Links for favorite websites */

a {
color: green;
text-decoration: none;
}

a:hover {
color: red;
}

/* Footer Section */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #AFC6C4;
    margin-top: 20px;
}









