/* Background */
:root {
    background: #2A7B9B;
    background: linear-gradient(180deg, #f46b45, #eea849);
    background-repeat: no-repeat;
}

/* Body alignment */
html, body {
  font-family: Arial, sans-serif;
  height: auto;
  margin: 0;
  padding: 0;
}

/* Header with title */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AFC6C4;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Profile picture */
#profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    padding: 2px 16px;
    background-color: #e6f4ff;
    border-radius: 16px;
    margin: 0 auto;
    border: solid 1px gray;
}

#profile-container, img{
    padding: 15px;
    border-radius: 20px;
}

#img-container{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
/* Profile cards */
.card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 2px 16px;
    margin-bottom: 12px;
    margin-top: 12px;
    border: solid 1px gray;
}

/* Links for favorite websites */

a {
color: green;
text-decoration: none;
}

a:hover {
color: red;
}

/* Footer Section */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #AFC6C4;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}









